<a href="https://colab.research.google.com/github/rick1270/DS-Sprint-02-Storytelling-With-Data/blob/master/Copy_of_LS_DS2_122_Join_datasets_ASSIGNMENT_SOLUTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-06-03 16:07:24--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.130.181
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.130.181|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  44.4MB/s    in 4.8s

2019-06-03 16:07:29 (40.5 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

## Goal: Reproduce this example

The first two orders for user id 1:

In [4]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [5]:
!ls -lh

total 681M
-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [0]:
import pandas as pd
aisles = pd.read_csv('aisles.csv')

In [7]:
aisles.shape

(134, 2)

In [8]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

aisles doesn't have any columns we need

### departments

In [0]:
departments = pd.read_csv('departments.csv')

In [10]:
departments.shape

(21, 2)

In [11]:
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

departments doesn't have any columns we need

### order_products__prior

In [0]:
order_products__prior = pd.read_csv('order_products__prior.csv')

In [13]:
order_products__prior.shape

(32434489, 4)

In [14]:
order_products__prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

**order_products__prior** has
- order_id
- product_id
- add_to_cart_order

### order_products__train

In [0]:
order_products__train = pd.read_csv('order_products__train.csv')

In [16]:
order_products__train.shape

(1384617, 4)

In [17]:
order_products__train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

**order_products__train** has the exact same columns as **order_products__prior**

### orders

In [0]:
orders = pd.read_csv('orders.csv')

In [19]:
orders.shape

(3421083, 7)

In [20]:
orders.head()

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

**orders** has
- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

### products

In [0]:
products = pd.read_csv('products.csv')

In [22]:
products.shape

(49688, 4)

In [23]:
products.head()

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

**products** has
- product_id
- product_name

## Concatenate order_products__prior and order_products__train

In [0]:
order_products = pd.concat([order_products__prior, order_products__train])

The shapes are as expected:

In [25]:
order_products.shape, order_products__prior.shape, order_products__train.shape

((33819106, 4), (32434489, 4), (1384617, 4))

In [0]:
assert len(order_products) == len(order_products__prior) + len(order_products__train)

In [0]:
assert (len(order_products.columns) == 
        len(order_products__prior.columns) == 
        len(order_products__train.columns))

## Get a subset of orders — the first two orders for user id 1

From the `orders` dataframe, with these columns:
- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

In [0]:
condition = (orders.user_id==1) & (orders.order_number <= 2)

columns = ['user_id', 
           'order_id', 
           'order_number', 
           'order_dow', 
           'order_hour_of_day']

subset = orders.loc[condition, columns]

## Merge dataframes

Merge the subset from `orders` with columns from `order_products`

In [0]:
columns = ['order_id', 'add_to_cart_order', 'product_id']

merged = pd.merge(subset, order_products[columns], 
                  how='inner', on='order_id')

Merge with columns from `products`

In [0]:
final = pd.merge(merged, products[['product_id', 'product_name']])

Sort by `order_number` and `add_to_cart_order`

In [0]:
final = final.sort_values(by=['order_number', 'add_to_cart_order'])

Rename columns so they have spaces instead of underscores

In [0]:
final.columns = [column.replace('_', ' ') 
                 for column in final]

Here is the final result

In [33]:
final

    user id  order id  ...  product id                             product name
0         1   2539329  ...         196                                     Soda
2         1   2539329  ...       14084  Organic Unsweetened Vanilla Almond Milk
3         1   2539329  ...       12427                      Original Beef Jerky
5         1   2539329  ...       26088               Aged White Cheddar Popcorn
7         1   2539329  ...       26405         XL Pick-A-Size Paper Towel Rolls
1         1   2398795  ...         196                                     Soda
8         1   2398795  ...       10258                               Pistachios
4         1   2398795  ...       12427                      Original Beef Jerky
9         1   2398795  ...       13176                   Bag of Organic Bananas
6         1   2398795  ...       26088               Aged White Cheddar Popcorn
10        1   2398795  ...       13032                    Cinnamon Toast Crunch

[11 rows x 8 columns]

We replicated the original example from the Instacart blog post

In [34]:
display(example)

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

# Solution

### Assignment

`order_products.product_id.value_counts()` counts how many times each `product_id` was ordered

and if we chain `.head(10)` then we get the top 10 most frequently ordered products

**But** we want to count how many times each `product_name` was ordered

So we also need to  merge columns from `products` together with `order_products`

In [0]:
df = pd.merge(order_products[['order_id', 'product_id']], 
              products[['product_id', 'product_name']])

In [36]:
product_sales = df.product_name.value_counts()

product_sales.head(10)

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

### Stretch challenge, method 1

`orders` has `order_hour_of_day` so do another merge

In [0]:
df = pd.merge(df, orders[['order_id', 'order_hour_of_day']])

For each product name, calculate the average time of day the product was ordered, and count how many times it was ordered

In [0]:
times_and_sales = (df
                   .groupby('product_name')
                   .order_hour_of_day.agg(['mean', 'count'])
                   .rename(columns={'mean': 'average time', 
                                    'count': 'total sales'}))

We are looking only at popular products, which we defined as products with more than 2,900 orders

In [0]:
popular = times_and_sales[times_and_sales['total sales'] > 2900]

Sort the data frame by average time of day the product was ordered, descending, and show the top 25

In [0]:
popular.sort_values(by='average time', ascending=False).head(25)

### Stretch Challenge, Method 2

Using the same DataFrame from the assignment & Method 1

```
df = pd.merge(order_products[['order_id', 'product_id']], 
              products[['product_id', 'product_name']])
              
df = pd.merge(df, orders[['order_id', 'order_hour_of_day']])
```

and using the `product_sales` Series from the assignment

```
product_sales = df.product_name.value_counts()
```

For each product name, calculate the average time of day the product was ordered

In [0]:
product_times = df.groupby('product_name').order_hour_of_day.mean()

We want to merge `product_times` and `product_sales` but they are Series and the `pd.merge` function works with DataFrames.

So, reset their index to make them DataFrames, then merge.

In [0]:
product_times = product_times.reset_index()
product_times.columns = ['product_name', 'average time']

product_sales = product_sales.reset_index()
product_sales.columns = ['product_name', 'total sales']

times_and_sales = pd.merge(product_times, product_sales)

Then continue with the rest of Method 1

In [0]:
popular = times_and_sales[times_and_sales['total sales'] > 2900]
popular.sort_values(by='average time', ascending=False).head(25)