_Lambda School Data Science_

# Sequence your narrative

Create a sequence of visualizations inspired by [Hans Rosling's 200 Countries, 200 Years, 4 Minutes](https://www.youtube.com/watch?v=jbkSRLYSojo).

Using this [data from Gapminder](https://github.com/open-numbers/ddf--gapminder--systema_globalis/):
- https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--income_per_person_gdppercapita_ppp_inflation_adjusted--by--geo--time.csv
- https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--life_expectancy_years--by--geo--time.csv
- https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv
- https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--concepts.csv

### Stretch goals
- [ipywidgets](https://github.com/jupyter-widgets/ipywidgets)
- [Matplotlib animation](https://matplotlib.org/examples/animation/index.html)
- [Connected scatter plots](http://www.thefunctionalart.com/2012/09/in-praise-of-connected-scatter-plots.html)
- [Idyll markup language](https://idyll-lang.org/) for "scrollytelling"

In [3]:
import seaborn as sns
import matplotlib as plt
import pandas as pd
import numpy as np

In [4]:
income = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--income_per_person_gdppercapita_ppp_inflation_adjusted--by--geo--time.csv')
lifespan = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--life_expectancy_years--by--geo--time.csv')
population = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv')
entities = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv')
concepts = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--concepts.csv')

In [5]:
pd.options.display.max_columns = None

In [6]:
df = pd.merge(income, lifespan)

In [7]:
df.shape

(41790, 4)

In [16]:
entities

,country,alt_5,alternative_1,alternative_2,alternative_3,alternative_4_cdiac,arb1,arb2,arb3,arb4,arb5,arb6,g77_and_oecd_countries,gapminder_list,god_id,gwid,income_groups,is--country,iso3166_1_alpha2,iso3166_1_alpha3,iso3166_1_numeric,iso3166_2,landlocked,latitude,longitude,main_religion_2008,name,pandg,un_state,unicode_region_subtag,upper_case_name,world_4region,world_6region
0,abkh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,others,Abkhazia,GE-AB,i0,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abkhazia,NaN,False,NaN,NaN,europe,europe_central_asia
1,abw,NaN,NaN,NaN,NaN,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,others,Aruba,AW,i12,high_income,True,AW,ABW,533.0,NaN,coastline,12.50000,-69.96667,christian,Aruba,NaN,False,AW,ARUBA,americas,america
2,afg,NaN,Islamic Republic of Afghanistan,NaN,NaN,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,g77,Afghanistan,AF,i1,low_income,True,AF,AFG,4.0,NaN,landlocked,33.00000,66.00000,muslim,Afghanistan,AFGHANISTAN,True,AF,AFGHANISTAN,asia,south_asia
3,ago,NaN,NaN,NaN,NaN,Angola,NaN,NaN,NaN,NaN,NaN,NaN,g77,Angola,AO,i7,upper_middle_income,True,AO,AGO,24.0,NaN,coastline,-12.50000,18.50000,christian,Angola,ANGOLA,True,AO,ANGOLA,africa,sub_saharan_africa
4,aia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,others,Anguilla,AI,i8,NaN,True,AI,AIA,660.0,NaN,coastline,18.21667,-63.05000,christian,Anguilla,NaN,False,AI,ANGUILLA,americas,america
5,akr_a_dhe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,others,Akrotiri and Dhekelia,Akrotiri_Dhekelia,i2,NaN,True,NaN,NaN,NaN,NaN,coastline,NaN,NaN,NaN,Akrotiri and Dhekelia,NaN,False,NaN,NaN,europe,europe_central_asia
6,ala,NaN,√Öland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,others,Åland,AX,i258,NaN,True,AX,ALA,248.0,NaN,coastline,60.25000,20.00000,NaN,Åland,NaN,False,AX,AALAND ISLANDS,europe,europe_central_asia
7,alb,NaN,NaN,NaN,NaN,Albania,NaN,NaN,NaN,NaN,NaN,NaN,others,Albania,AL,i3,upper_middle_income,True,AL,ALB,8.0,NaN,coastline,41.00000,20.00000,muslim,Albania,ALBANIA,True,AL,ALBANIA,europe,europe_central_asia
8,and,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,others,Andorra,AD,i6,high_income,True,AD,AND,20.0,NaN,landlocked,42.50779,1.52109,christian,Andorra,NaN,True,AD,ANDORRA,europe,europe_central_asia
9,ant,NaN,Neth. Antilles,NaN,NaN,Netherland Antilles,NaN,NaN,NaN,NaN,NaN,NaN,others,Netherlands Antilles,AN,i157,NaN,True,NaN,NaN,NaN,NaN,coastline,NaN,NaN,NaN,Netherlands Antilles,NaN,False,NaN,NETHERLANDS ANTILLES,americas,america
10,are,NaN,UAE,NaN,NaN,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,g77,United Arab Emirates,AE,i238,high_income,True,AE,ARE,784.0,NaN,coastline,23.75000,54.50000,muslim,United Arab Emirates,UNITED ARAB EMIRATES,True,AE,UNITED ARAB EMIRATES,asia,middle_east_north_africa
11,arg,NaN,NaN,NaN,NaN,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,g77,Argentina,AR,i10,upper_middle_income,True,AR,ARG,32.0,NaN,coastline,-34.00000,-64.00000,christian,Argentina,ARGENTINA,True,AR,ARGENTINA,americas,america
12,arm,NaN,NaN,NaN,NaN,Armenia,NaN,NaN,NaN,NaN,NaN,NaN,others,Armenia,AM,i11,lower_middle_income,True,AM,ARM,51.0,NaN,landlocked,40.25000,45.00000,christian,Armenia,ARMENIA,True,AM,ARMENIA,europe,europe_central_asia
13,asm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,others,American Samoa,AS,i5,upper_middle_income,True,AS,ASM,16.0,NaN,coastline,-11.05600,-171.08200,christian,American Samoa,NaN,False,AS,AMERICAN SAMOA,asia,east_asia_pacific
14,ata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AQ,NaN,NaN,True,AQ,ATA,10.0,NaN,NaN,-90.00000,0.00000,NaN,Antarctica,NaN,False,AQ,NaN,europe,NaN
15,atg,NaN,NaN,NaN,NaN,Antigua & Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,g77,Antigua and Barbuda,AG,i9,high_income,True,AG,ATG,28.0,NaN,coastline,17.05000,-61.80000,christian,Antigua and Barbuda,NaN,True,AG,ANTIGUA AND BARBUDA,americas,america
16,aus,NaN,NaN,NaN,NaN,Australia,NaN,NaN,NaN,NaN,NaN,NaN,oecd,Australia,AU,i13,high_income,True,AU,AUS,36.0,NaN,coastline,-25.00000,135.00000,christian,Australia,AUSTRALIA,True,AU,AUSTRALIA,asia,east_asia_pacific
17,aut,NaN,NaN,NaN,NaN,Austria,NaN,NaN,NaN,NaN,NaN,NaN,oecd,Austria,AT,i14,high_income,True,AT,AUT,40.0,NaN,landlocked,47.33333,13.33333,christian,Austria,AUSTRIA,True,AT,AUSTRIA,europe,europe_central_asia
18,aze,NaN,NaN,NaN,NaN,Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,others,Azerbaijan,AZ,i15,upper_middle_income,True,AZ,AZE,31.0,NaN,landlocked,40.50000,47.50000,muslim,Azerbaijan,AZERBAIJAN,True,AZ,AZERBAIJAN,europe,europe_central_asia
19,bdi,NaN,NaN,NaN,NaN,Burundi,NaN,NaN,NaN,NaN,NaN,NaN,g77,Burundi,BI,i34,low_income,True,BI,BDI,108.0,NaN,landlocked,-3.50000,30.00000,christian,Burundi,BURUNDI,True,BI,BURUNDI,africa,sub_saharan_africa
20,bel,NaN,NaN,NaN,NaN,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,oecd,Belgium,BE,i21,high_income,True,BE,BEL,56.0,NaN,coastline,50.75000,4.50000,christian,Belgium,BELGIUM,True,BE,BELGIUM,europe,europe_central_asia
21,ben,NaN,NaN,NaN,NaN,Benin,NaN,NaN,NaN,NaN,NaN,NaN,g77,Benin,BJ,i23,low_income,True,BJ,BEN,204.0,NaN,coastline,9.50000,2.25000,NaN,Benin,BENIN,True,BJ,BENIN,africa,sub_saharan_africa
22,bfa,NaN,NaN,NaN,NaN,Burkina Faso,Burkina_Faso,NaN,NaN,NaN,NaN,NaN,g77,Burkina Faso,BF,i33,low_income,True,BF,BFA,854.0,NaN,landlocked,12.50000,-1.66667,muslim,Burkina Faso,BURKINA FASO,True,BF,BURKINA FASO,africa,sub_saharan_africa
23,bgd,NaN,NaN,NaN,NaN,Bangladesh,NaN,NaN,NaN,NaN,NaN,NaN,g77,Bangladesh,BD,i18,low_income,True,BD,BGD,50.0,NaN,coastline,24.00000,90.00000,muslim,Bangladesh,NaN,True,BD,BANGLADESH,asia,south_asia
24,bgr,NaN,NaN,NaN,NaN,Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,others,Bulgaria,BG,i32,upper_middle_income,True,BG,BGR,100.0,NaN,coastline,42.66667,25.25000,christian,Bulgaria,BULGARIA,True,BG,BULGARIA,europe,europe_central_asia
25,bhr,NaN,Bahrein,NaN,NaN,Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,g77,Bahrain,BH,i17,high_income,True,BH,BHR,48.0,NaN,coastline,26.03333,50.55000,muslim,Bahrain,BAHRAIN,True,BH,BAHRAIN,asia,middle_east_north_africa
26,bhs,NaN,"Bahamas, The",The Bahamas,NaN,Bahamas,NaN,NaN,NaN,NaN,NaN,NaN,g77,Bahamas,BS,i16,high_income,True,BS,BHS,44.0,NaN,coastline,25.04082,-77.37122,christian,Bahamas,NaN,True,BS,BAHAMAS,americas,america
27,bih,Bosnia,Bosnia & Herzegovina,Bosnia Herzegovena,Bosnia and H.,Bosnia & Herzegovinia,Bosnia-Herzegovina,NaN,NaN,NaN,NaN,NaN,g77,Bosnia and Herzegovina,BA,i27,upper_middle_income,True,BA,BIH,70.0,NaN,coastline,44.25000,17.83333,NaN,Bosnia and Herzegovina,BOSNIA & HERZEGOVINA,True,BA,BOSNIA AND HERZEGOWINA,europe,europe_central_asia
28,blr,NaN,NaN,NaN,NaN,Belarus,NaN,NaN,NaN,NaN,NaN,NaN,others,Belarus,BY,i20,upper_middle_income,True,BY,BLR,112.0,NaN,landlocked,53.00000,28.00000,christian,Belarus,BELARUS,True,BY,BELARUS,europe,europe_central_asia
29,blz,NaN,NaN,NaN,NaN,Belize,NaN,NaN,NaN,NaN,NaN,NaN,g77,Belize,BZ,i22,upper_middle_income,True,BZ,BLZ,84.0,NaN,coastline,17.49952,-88.19756,christian,Belize,BELIZE,True,BZ,BELIZE,americas,america
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,ton,NaN,NaN,NaN,NaN,Tonga,NaN,NaN,NaN,NaN,NaN,NaN,g77,Tonga,TO,i228,upper_middle_income,True,TO,TON,776.0,NaN,coastline,-20.00000,-175.00000,christian,Tonga,NaN,True,TO,TONGA,asia,east_asia_pacific
244,transn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,others,Transnistria,Transnistria,i229,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Transnistria,NaN,False,NaN,NaN,europe,europe_central_asia
245,tto,NaN,Trinidad & Tobago,Trinidad,NaN,Trinidad And Tobago,NaN,NaN,NaN,NaN,NaN,NaN,g77,Trinidad and Tobago,TT,i230,high_income,True,TT,TTO,780.0,NaN,coastline,11.00000,-61.00000,christian,Trinidad and Tobago,TRINIDAD AND TOBAGO,True,TT,TRINIDAD AND TOBAGO,americas,america
246,tun,NaN,NaN,NaN,NaN,Tunisia,NaN,NaN,NaN,NaN,NaN,NaN,g77,Tunisia,TN,i231,upper_middle_income,True,TN,TUN,788.0,NaN,coastline,34.00000,9.00000,muslim,Tunisia,TUNISIA,True,TN,TUNISIA,africa,middle_east_north_africa
247,tur,NaN,NaN,NaN,NaN,Turkey,NaN,NaN,NaN,NaN,NaN,NaN,oecd,Turkey,TR,i232,upper_middle_income,True,TR,TUR,792.0,NaN,coastline,39.00000,35.00000,muslim,Turkey,TURKEY,True,TR,TURKEY,europe,europe_central_asia
248,tuv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,others,Tuvalu,TV,i235,upper_middle_income,True,TV,TUV,798.0,NaN,coastline,-8.51719,179.14478,christian,Tuvalu,NaN,True,TV,TUVALU,asia,east_asia_pacific
249,twn,NaN,Taiwan Province of China,"China, Taiwan Province of",NaN,Taiwan,NaN,NaN,NaN,NaN,NaN,NaN,others,Taiwan,TW,i221,NaN,True,TW,TWN,158.0,NaN,coastline,24.00000,121.00000,eastern_religions,Taiwan,TAIWAN,False,TW,TAIWAN,asia,east_asia_pacific
250,tza,NaN,"Tanzania, U. Rep. of",Tanzania (United Republic of),United Republic of Tanzania,United Republic Of Tanzania,NaN,NaN,NaN,NaN,NaN,NaN,g77,Tanzania,TZ,i223,low_income,True,TZ,TZA,834.0,NaN,coastline,-6.00000,35.00000,christian,Tanzania,TANZANIA,True,TZ,"TANZANIA, UNITED REPUBLIC OF",africa,sub_saharan_africa
251,uga,NaN,NaN,NaN,NaN,Uganda,NaN,NaN,NaN,NaN,NaN,NaN,g77,Uganda,UG,i236,low_income,True,UG,UGA,800.0,NaN,landlocked,1.25000,32.50000,christian,Uganda,UGANDA,True,UG,UGANDA,africa,sub_saharan_africa
252,ukr,NaN,NaN,NaN,NaN,Ukraine,NaN,NaN,NaN,NaN,NaN,NaN,others,Ukraine,UA,i237,lower_middle_income,True,UA,UKR,804.0,NaN,coastline,49.00000,32.00000,christian,Ukraine,UKRAINE,True,UA,UKRAINE,europe,europe_central_asia
253,ury,NaN,NaN,NaN,NaN,Uruguay,NaN,NaN,NaN,NaN,NaN,NaN,g77,Uruguay,UY,i241,high_income,True,UY,URY,858.0,NaN,coastline,-33.00000,-56.00000,christian,Uruguay,URUGUAY,True,UY,URUGUAY,americas,america
254,usa,U.S.,United States of America,USA,U.S.A.,United States Of America,NaN,NaN,NaN,NaN,NaN,NaN,oecd,United States,US,i240,high_income,True,US,USA,840.0,NaN,coastline,39.76000,-98.50000,christian,United States,UNITED STATES,True,US,UNITED STATES,americas,america
255,usa_minor_out_isl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UM,NaN,NaN,True,UM,UMI,581.0,US-UM,NaN,NaN,NaN,NaN,US Minor Outlying Islands,NaN,False,UM,NaN,americas,NaN
256,ussr,NaN,Soviet Union,NaN,U.S.S.R.,USS,NaN,NaN,NaN,NaN,NaN,NaN,others,USSR,USSR,i242,NaN,True,NaN,NaN,NaN,NaN,coastline,NaN,NaN,NaN,USSR,NaN,False,NaN,NaN,europe,europe_central_asia
257,uzb,NaN,NaN,NaN,NaN,Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,others,Uzbekistan,UZ,i243,lower_middle_income,True,UZ,UZB,860.0,NaN,landlocked,41.66667,63.83333,muslim,Uzbekistan,UZBEKISTAN,True,UZ,UZBEKISTAN,asia,europe_central_asia
258,vct,NaN,St. Vincent and the Grenadines,St Vincent & the Grenadines,St. Vincent and G.,St. Vincent & The Grenadines,Saint Vincent and the Grenadines,NaN,NaN,NaN,NaN,NaN,g77,Saint Vincent and the Grenadines,VC,i191,upper_middle_income,True,VC,VCT,670.0,NaN,coastline,13.08333,-61.20000,christian,St. Vincent and the Grenadines,NaN,True,VC,SAINT VINCENT AND THE GRENADINES,americas,america
259,ven,NaN,"Venezuela, RB",Venezuela (Bolivarian Republic of),Venezuela (Bolivarian Republic of,Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,g77,Venezuela,VE,i246,upper_middle_income,True,VE,VEN,862.0,NaN,coastline,8.00000,-66.00000,christian,Venezuela,VENEZUELA,True,VE,VENEZUELA,americas,america
260,vgb,NaN,NaN,NaN,NaN,British Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,others,British Virgin Islands,VG,i30,NaN,True,VG,VGB,92.0,NaN,coastline,18.50000,-64.50000,christian,British Virgin Islands,NaN,False,VG,VIRGIN ISLANDS (BRITISH),americas,america
261,vir,NaN,United States Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,others,Virgin Islands (U.S.),VI,i251,high_income,True,VI,VIR,850.0,NaN,coastline,18.34829,-64.98348,christian,Virgin Islands (U.S.),NaN,False,VI,VIRGIN ISLANDS (U.S.),americas,america
262,vnm,NaN,Viet Nam,NaN,NaN,Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,g77,Vietnam,VN,i250,lower_middle_income,True,VN,VNM,704.0,NaN,coastline,16.16667,107.83333,eastern_religions,Vietnam,VIETNAM,True,VN,VIET NAM,asia,east_asia_pacific
263,vut,NaN,NaN,NaN,NaN,Vanuatu,NaN,NaN,NaN,NaN,NaN,NaN,g77,Vanuatu,VU,i245,lower_middle_income,True,VU,VUT,548.0,NaN,coastline,-16.00000,167.00000,christian,Vanuatu,NaN,True,VU,VANUATU,asia,east_asia_pacific
264,wlf,NaN,Wallis and Futuna,Wallis and Futuna Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,others,Wallis et Futuna,WF,i244,NaN,True,WF,WLF,876.0,NaN,coastline,-13.30000,-176.20000,christian,Wallis et Futuna,NaN,False,WF,WALLIS AND FUTUNA ISLANDS,asia,east_asia_pacific
265,wsm,NaN,Samoa (Western),NaN,NaN,Samoa,NaN,NaN,NaN,NaN,NaN,NaN,g77,Samoa,WS,i193,lower_middle_income,True,WS,WSM,882.0,NaN,coastline,-13.80000,-172.13333,christian,Samoa,NaN,True,WS,SAMOA,asia,east_asia_pacific
266,yem,NaN,Yemen Republic,NaN,NaN,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,g77,"Yemen, Rep.",YE,i254,lower_middle_income,True,YE,YEM,887.0,NaN,coastline,15.50000,47.50000,muslim,Yemen,YEMEN,True,YE,YEMEN,asia,middle_east_north_africa
267,yem_north,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,others,Yemen Arab Republic (Former),North_Yemen,i252,NaN,True,NaN,NaN,NaN,NaN,coastline,NaN,NaN,NaN,North Yemen (former),NaN,False,NaN,FORMER YEMEN,asia,middle_east_north_africa
268,yem_south,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,others,Yemen Democratic (Former),South_Yemen,i253,NaN,True,NaN,NaN,NaN,NaN,coastline,NaN,NaN,NaN,South Yemen (former),NaN,False,NaN,FORMER DEMOCRATIC YEMEN,asia,middle_east_north_africa
269,yug,NaN,Yugoslav SFR,NaN,NaN,Yugoslavia,NaN,NaN,NaN,NaN,NaN,NaN,others,Yugoslavia,Yugoslavia,i255,NaN,True,NaN,NaN,NaN,NaN,coastline,NaN,NaN,NaN,Yugoslavia,NaN,False,NaN,YUGOSLAVIA (FORMER SOCIALIST FEDERAL REPUBLIC),europe,europe_central_asia
270,zaf,NaN,South Africa Republic,NaN,NaN,South Africa,South_Africa,NaN,NaN,NaN,NaN,NaN,g77,South Africa,ZA,i209,upper_middle_income,True,ZA,ZAF,710.0,NaN,coastline,-29.00000,24.00000,christian,South Africa,SOUTH AFRICA,True,ZA,SOUTH AFRICA,africa,sub_saharan_africa
271,zmb,NaN,NaN,NaN,NaN,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,g77,Zambia,ZM,i256,lower_middle_income,True,ZM,ZMB,894.0,NaN,landlocked,-14.33333,28.50000,christian,Zambia,ZAMBIA,True,ZM,ZAMBIA,africa,sub_saharan_africa
272,zwe,NaN,NaN,NaN,NaN,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,g77,Zimbabwe,ZW,i257,low_income,True,ZW,ZWE,716.0,NaN,landlocked,-19.00000,29.75000,christian,Zimbabwe,ZIMBABWE,True,ZW,ZIMBABWE,africa,sub_saharan_africa

In [15]:
entities[entities.country=='abw'].T

                                  1
country                         abw
alt_5                           NaN
alternative_1                   NaN
alternative_2                   NaN
alternative_3                   NaN
alternative_4_cdiac           Aruba
arb1                            NaN
arb2                            NaN
arb3                            NaN
arb4                            NaN
arb5                            NaN
arb6                            NaN
g77_and_oecd_countries       others
gapminder_list                Aruba
god_id                           AW
gwid                            i12
income_groups           high_income
is--country                    True
iso3166_1_alpha2                 AW
iso3166_1_alpha3                ABW
iso3166_1_numeric               533
iso3166_2                       NaN
landlocked                coastline
latitude                       12.5
longitude                  -69.9667
main_religion_2008        christian
name                          Aruba
pandg                           NaN
un_state                      False
unicode_region_subtag            AW
upper_case_name               ARUBA
world_4region              americas
world_6region               america

In [9]:
variables = ['country', 'name', 'world_6region']
entities[variables].head()

  country         name        world_6region
0    abkh     Abkhazia  europe_central_asia
1     abw        Aruba              america
2     afg  Afghanistan           south_asia
3     ago       Angola   sub_saharan_africa
4     aia     Anguilla              america

In [10]:
df = pd.merge(df, population)

In [11]:
pd.merge(df, entities[variables], 
         how='inner', left_on='geo', right_on='country').head()

,geo,time,income_per_person_gdppercapita_ppp_inflation_adjusted,life_expectancy_years,population_total,country,name,world_6region
0,abw,1800,833,34.42,19286,abw,Aruba,america
1,abw,1801,833,34.42,19286,abw,Aruba,america
2,abw,1802,833,34.42,19286,abw,Aruba,america
3,abw,1803,833,34.42,19286,abw,Aruba,america
4,abw,1804,833,34.42,19286,abw,Aruba,america

In [12]:
df = pd.merge(df, entities[variables], 
              how='inner', left_on='geo', right_on='country')

df.drop(columns=['geo', 'country'], inplace=True)

df.rename(columns={
    'time': 'year', 
    'income_per_person_gdppercapita_ppp_inflation_adjusted': 'income', 
    'life_expectancy_years': 'lifespan', 
    'population_total': 'population', 
    'name': 'country', 
    'world_6region': 'region'
}, inplace=True)

In [13]:
df.shape

(41790, 6)

In [14]:
df.head()

   year  income  lifespan  population country   region
0  1800     833     34.42       19286   Aruba  america
1  1801     833     34.42       19286   Aruba  america
2  1802     833     34.42       19286   Aruba  america
3  1803     833     34.42       19286   Aruba  america
4  1804     833     34.42       19286   Aruba  america