_Lambda School Data Science_

# Choose appropriate visualizations


Recreate this [example by FiveThirtyEight:](https://fivethirtyeight.com/features/al-gores-new-movie-exposes-the-big-flaw-in-online-movie-ratings/)

In [179]:
from IPython.display import display, Image

url = 'https://fivethirtyeight.com/wp-content/uploads/2015/06/flowers-datalab-unisexnames-1.png?w=575'
example1 = Image(url=url, width=400)

display(example1)

Data souce,

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/pierretd/DS-Sprint-02-Storytelling-With-Data/master/module3-make-explanatory-visualizations/data/unisex-names/unisex-names/unisex_names_table.csv')

In [181]:
df.shape

(919, 6)

In [182]:
df.head()

   Unnamed: 0    name          total  male_share  female_share       gap
0           1   Casey  176544.328149    0.584287      0.415713  0.168573
1           2   Riley  154860.665173    0.507639      0.492361  0.015278
2           3  Jessie  136381.830656    0.477834      0.522166  0.044331
3           4  Jackie  132928.788740    0.421133      0.578867  0.157735
4           5   Avery  121797.419516    0.335213      0.664787  0.329574

In [183]:
df.sort_values(by=['total'])

,Unnamed: 0,name,total,male_share,female_share,gap
918,919,Aeon,100.211040,0.464835,0.535165,0.070331
917,918,Yacine,100.230400,0.544599,0.455401,0.089198
916,917,Gwin,101.243364,0.562137,0.437863,0.124273
915,916,Inioluwa,101.384201,0.352729,0.647271,0.294542
914,915,Eaden,102.319579,0.572761,0.427239,0.145521
913,914,Olayinka,102.625879,0.418250,0.581750,0.163500
912,913,Carel,102.758657,0.564701,0.435299,0.129403
911,912,Alija,103.229976,0.576972,0.423028,0.153945
910,911,Mikele,103.518292,0.394806,0.605194,0.210388
909,910,Eudell,103.921273,0.419673,0.580327,0.160655
908,909,Kache,104.096492,0.457945,0.542055,0.084110
907,908,Armari,104.214954,0.628446,0.371554,0.256891
906,907,Gillie,105.527474,0.547366,0.452634,0.094731
905,906,Vail,106.056996,0.379712,0.620288,0.240576
904,905,Liron,106.120731,0.644736,0.355264,0.289473
903,904,Rainn,106.336104,0.401670,0.598330,0.196659
902,903,Johany,107.173152,0.462451,0.537549,0.075099
901,902,Juliani,107.272545,0.342413,0.657587,0.315174
900,901,Aidynn,107.344514,0.407165,0.592835,0.185670
899,900,Psalm,108.230882,0.366573,0.633427,0.266854
898,899,Oluwadarasimi,108.353861,0.366754,0.633246,0.266492
897,898,Skylier,108.758081,0.562586,0.437414,0.125173
896,897,Skylur,108.968124,0.626654,0.373346,0.253307
895,896,Ryin,110.061346,0.512639,0.487361,0.025278
894,895,Peniel,110.216069,0.639312,0.360688,0.278625
893,894,Lyan,110.250095,0.549608,0.450392,0.099216
892,893,Luvern,110.746093,0.636488,0.363512,0.272975
891,892,Tagan,111.076315,0.481835,0.518165,0.036330
890,891,Sehaj,111.285543,0.597965,0.402035,0.195930
889,890,Ronne,111.657837,0.473608,0.526392,0.052783
...,...,...,...,...,...,...
29,30,Rowan,18367.420464,0.593397,0.406603,0.186794
28,29,Stevie,18665.219122,0.574872,0.425128,0.149744
27,28,Emery,18844.118877,0.486776,0.513224,0.026449
26,27,Sage,21336.062278,0.367310,0.632690,0.265380
25,26,Elisha,22184.559374,0.423352,0.576648,0.153296
24,25,Amari,22296.161372,0.515449,0.484551,0.030898
23,24,Blair,23160.101097,0.490256,0.509744,0.019487
22,23,Emerson,24167.154361,0.525529,0.474471,0.051058
21,22,Carey,24790.097054,0.523226,0.476774,0.046452
20,21,Kris,24955.811342,0.498626,0.501374,0.002748
19,20,Justice,27350.564570,0.528195,0.471805,0.056390
18,19,Tommie,29528.793818,0.664438,0.335562,0.328875
17,18,Robbie,32636.047648,0.553157,0.446843,0.106314
16,17,Reese,36360.520613,0.361910,0.638090,0.276179
15,16,Harley,41237.565743,0.571702,0.428298,0.143404
14,15,Quinn,41920.940058,0.635742,0.364258,0.271484
13,14,Pat,44781.602373,0.369034,0.630966,0.261931
12,13,Frankie,51288.068109,0.623671,0.376329,0.247343
11,12,Skyler,53486.390419,0.646053,0.353947,0.292106
10,11,Payton,64151.630388,0.334358,0.665642,0.331285
9,10,Kendall,79210.873961,0.372367,0.627633,0.255267
8,9,Jody,80400.519199,0.352068,0.647932,0.295864
7,8,Kerry,88963.926250,0.483949,0.516051,0.032102
6,7,Peyton,94896.395216,0.433719,0.566281,0.132561
5,6,Jaime,109870.187290,0.561793,0.438207,0.123586
4,5,Avery,121797.419516,0.335213,0.664787,0.329574
3,4,Jackie,132928.788740,0.421133,0.578867,0.157735
2,3,Jessie,136381.830656,0.477834,0.522166,0.044331
1,2,Riley,154860.665173,0.507639,0.492361,0.015278
0,1,Casey,176544.328149,0.584287,0.415713,0.168573

In [186]:
topten = df.head(10)
topten.head(10)

   Unnamed: 0     name          total  male_share  female_share       gap
0           1    Casey  176544.328149    0.584287      0.415713  0.168573
1           2    Riley  154860.665173    0.507639      0.492361  0.015278
2           3   Jessie  136381.830656    0.477834      0.522166  0.044331
3           4   Jackie  132928.788740    0.421133      0.578867  0.157735
4           5    Avery  121797.419516    0.335213      0.664787  0.329574
5           6    Jaime  109870.187290    0.561793      0.438207  0.123586
6           7   Peyton   94896.395216    0.433719      0.566281  0.132561
7           8    Kerry   88963.926250    0.483949      0.516051  0.032102
8           9     Jody   80400.519199    0.352068      0.647932  0.295864
9          10  Kendall   79210.873961    0.372367      0.627633  0.255267

In [187]:
import plotly as plotly
import plotly.plotly as py
import plotly.graph_objs as go
plotly.tools.set_credentials_file(username='pierretd', api_key='DbQCo8XsIUOlfbJSQ1Wi')


trace1 = go.Bar(
    y=['Kendall','Jody','Kerry','Peyton','Jaime','Avery','Jackie','Jessie','Riley','Casey'],
    x=[0.372367, 0.352068, 0.483949, 0.433719, 0.561793, 0.335213, 0.421133, 0.477834, 0.507639, 0.584287],
    name='Male Name Share',
    orientation = 'h',
    marker = dict(
        color = 'rgb(73, 172, 220)',
        line = dict(
            color = 'rgb(246, 186, 24)',
            width = 3)
    )
)
trace2 = go.Bar(
    y=['Kendall','Jody','Kerry','Peyton','Jaime','Avery','Jackie','Jessie','Riley','Casey'],
    x=[0.627633, 0.647932, 0.516051, 0.566281, 0.438207, 0.664787, 0.578867, 0.522166, 0.492361, 0.415713],
    name='Female Name Share',
    orientation = 'h',
    marker = dict(
        color = 'rgb(246, 186, 24)',
        line = dict(
            color = 'rgb(73, 172, 220)',
            width = 3)
    )
)

data = [trace1, trace2]
layout = go.Layout(
    barmode='stack'
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='marker-h-bar')

In [0]:
display(example1)